{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if posts is not empty %}
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <small>{{ post.category.title }}</small>
            <p>{{ post.content|raw }}</p>
            <hr>
        {% endfor %}
    {% else %}
        <p>No posts found.</p>
    {% endif %}
{% endblock %}
